*
{
	margin:0;
	padding: 0;
}
.active::before{
    content:"";
    position:absolute;
    width:100% !important;
    height:5%;
    background:#7BEFB1;
    top:0;
}
.shop
{
	position:relative;
	width: 100%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 10vh 10vh auto auto 20vh;
}
.head
{
	width: 100%;
	height: 10vh;
	background: linear-gradient(to bottom,#63538E,#4B387D);
	display: grid;
	grid-template-columns: 50% 50%;
}

.head h1
{
    color: #7BEFB1;
    padding:2% 25%;
    box-sizing: border-box;
}
.right-sec
{
	width: 100%;
	display:flex;
	align-items: center; 
	justify-content: flex-end;
	padding:0 25%;
	box-sizing: border-box;
}
.head .right-sec i:nth-child(1)
{
	color: white;
	font-size: 1rem;
	display: grid;
	justify-items:center;
}
.head .right-sec i:nth-child(2)
{
	color:  rgba(255,255,255,0.5);
}
.head h4
{
	color: rgba(255,255,255,0.5);
	font-weight: bolder;   
}
.section1-s{
    width:100%;
    display:flex;
    justify-content: space-between;
	padding:2vh 12vw;
	font-size: 1.2em;
    color:#A7A7A7;
    align-items: flex-end;
}
.section1-s p1{
    line-height: 1.5em;
    border-bottom: 1px solid #A7A7A7;
}
.list
{
	padding: 2% 3%;
	box-sizing: border-box;
	font-size: 1em;
}
.products{
height:0;
width:100%;
padding:5vh 12vw;
background:white;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
visibility:hidden;
}
.productss{
height:0vh;
width:100%;
padding:5vh 12vw;
background:white;
display: flex;
justify-content: space-evenly;
	left:0;
	top:0;
	position:relative;
	visibility:hidden;
}
.pro-1{
	position:relative;
	height:60vh;
	width:23vw;
	box-shadow: 0px 0px 5px 2px rgb(206, 205, 205);
	padding:2%;
	background: white;
	margin-top:5vh;
}
.pro-1:hover{
	box-shadow: 0px 0px 7px 4px rgb(202, 201, 201);
}
.pro-1 img{
	height:80%;
	width:100%;
}
.pro-1 p{
	margin-left:80%;
	font-weight: bolder;
	font-size: 1.1em;
}
.cart{
	position:relative;
	background:#4B387D;
	color:white;
	padding:2vh;
	width:44%;
	left:33%;
	bottom:-3vh;
}
.cart::after{
	position:absolute;
	content:"";
	background:#7BEFB1;
	height:.5em;
	width:90%;
	left:5%;
	bottom:-.5em;
	opacity:0;
}
.cart:hover::after{
	opacity:1;
}
.pro-1 h1{
	color:#4B387D;
	text-align: center;
	font-size:1.6em;
}
.pro-1 i{
	color:white;
}
.afters{
	position:absolute;
	width:3vw;
	height:13vh;
	background:#4B387D;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 1.6em;
	left:88%;
	top:30%;
	opacity:0;
	transition: all .5s;
}
.afters i{
	color:white;
	font-weight: lighter;
}
.pro-1:hover .afters{
opacity:1;
left:80%;
}
.prev-btn, .next-btn{
display:none;
}
.prev-label, .next-label{
	position:absolute;
	bottom:5vh;
	padding:2.5vh;
	background:white;
	border:.5px solid silver;
}
.next-label{
	left:47%;
}
.prev-label{
	left:52%;
}
.next-btn:checked+label+.products, .prev-btn:checked+label+.productss{
	visibility:visible;
	height:auto;
}
.next-btn:checked+label, .prev-btn:checked+label{
background: #4B387D;
color:white;
}
